html,
body {
  height: 100%
}

#board {
    position: relative;
}

#scoreboard {
    position: absolute;
    background-color: aqua;
    text-align: center;
    width: 100%;
    height: fit-content;
}

#player1-score,
#player2-score {
    height: 30px;
    margin: 0;
}

#player1,
#player2 {
    position: relative;
    height: 100px;
    width: 20px;
    background-color: black;
}

#ball {
    height: 10px;
    width: 10px;
    background-color: red;
    position: absolute;
    top: 200px;
    left: 300px;
}